@import './fontawesome/fontawesome.scss';
@import './fontawesome/fa-light.scss';
@import './fontawesome/fa-regular.scss';
@import './fontawesome/fa-solid.scss';

$primary-green: #1c71d3;
$primary-green-hover: #374f5a;
$primary-dark: #333;
$secondary-dark: #979797;
$primary-red: #D6456A;


body {
    background: #EEE;
}

h1 {
    font-size: 1.3rem;
}
h2 {
    font-size: 1.25rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1.15rem;
}
h5 {
    font-size: 1.1rem;
}

header, main, footer {
    padding-left: 300px;
}

main {
    .container {
        width: 90%;
    }
}

a {
    color: $primary-green;
    transition: 0.2s ease-in-out;

    &:hover {
        color:$primary-green-hover;
    }
}

figure {
    margin: 0;
    padding: 0;
}

.bg-red {
    background-color: $primary-red;
}

.d-flex {
    &.jc-flex-start {
        justify-content: flex-start;
    }

    &.jc-flex-end {
        justify-content: flex-end;
    }

    &.jc-center {
        justify-content: center;
    }

    &.ai-center {
        align-items: center;
    }

    &.direction-col {
        flex-direction: column;
    }
}

a.btn, .btn, .btn-large, .btn-small {
    background-color: $primary-green;
    border-radius: 4px;
    transition: 0.25s ease-in-out;
    margin-left: 1rem;

    &:hover {
        background-color: $primary-green-hover;
        color: white;
    }

    &.cancel {
        background-color: $primary-red;

        &:hover {
            background-color: rgba($color: $primary-red, $alpha: 0.8);
            color: white;
        }
    }
}

.toast {
    &.error {
        background-color: rgba($color: $primary-red, $alpha: 0.8);
    }
    &.success {
        background-color: rgba($color: $primary-green, $alpha: 0.8);
    }
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom-color: $primary-green;
    box-shadow: 0 1px 0 0 $primary-green;
}

.form {
    margin-top: 2rem;

    .row {
        margin-bottom: 0px;

        .checkbox {
            margin-top: -15px;
        }
    }
    input::placeholder {
        color: $secondary-dark;
        font-size: 0.9rem;
    }
    label {
        color: $primary-dark;
    }

    .file-field {
        .file-path-wrapper {
            padding: 0;
        }

        .btn {
            float: right;
        }
    }
    .form-submit {
        margin-top: 2rem;
    }
}

.d-flex {
    display: flex;

    &.jc-end {
        justify-content: end;
    }

    &.jc-start {
        justify-content: start;
    }

    &.space-around {
        justify-content: space-around;
    }
}
.card-panel {
    border-radius: 15px;
}

nav {
    background: white;
    color: $primary-dark;
    height: 50px;
    line-height: 50px;

    i {
        color: $primary-dark;
    }

    ul {
        a {
            color: $primary-dark;
        }
    }
}

#slide-out {
    background: linear-gradient(45deg,#6200ea,#1976d2) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 100%;

    i, .fal, .far, .fas {
        color: white;
        margin-right: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        font-size: 1rem!important;
    }

    a {
        color: white;
        border-radius: 4px;
        padding: 0 1rem;
        line-height: 52px;

        &:hover {
            padding-left: 1.5rem;
            background: $primary-red;
            color: white;
        }
    }

    li {
        margin: 0.25rem 2rem;

        ul {
            background: none;

            .collapsible-body {
                background: rgba($color: $primary-red, $alpha: 0.2);
                border-radius: 4px;

                a {
                    transition: 0.2s ease-in-out;

                    &:hover {
                        border-radius: 0;
                    }
                }
            }

            li {
                margin: 0;
            }
        }
    }
    
    .customer-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
        align-content: stretch;
        padding: 2rem 0;
        border-bottom: 1px solid white;

        .customer-logo {
            background: white;
            padding: 0.5rem;
            border-radius: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
        }

        .customer-name {
            text-transform: uppercase;
            margin-left: 1.5rem;
        }
    }

    .user-info {
        margin-top: 1rem;

        .user-name {
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.4rem;
        }
        .user-role {
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }
}

.checks {
    .card-image {
        img {
            height: 280px;
        }
    }
}

section.card {
    margin-top: 4rem;
    
    .card-header {
        padding: 0 24px;
        margin-bottom: -35px;
        display: flex;
        
        .card-icon {
            top: -35px;
            background: $primary-green;
            width: 100px;
            height: 100px;
            border-radius: 4px;
            position: relative;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
    
            i {
                font-size: 4rem;
                color: white;
            }
        }

        .title {
            margin: 0;
            font-size: 1.8rem;
            margin-left: 1.5rem;
            margin-top: 24px;
        }
    }

    .card-content {
        table {

            overflow-x: scroll;

            tbody {

                tr {
                    &:hover {
                        cursor: pointer;
                        background-color: rgba($color: $primary-red, $alpha: 0.1);
                    }
                }
            }

            td.actions {
                display: flex;
                justify-content: space-between;

                a {
                    transition: 0.1s ease-in-out;

                    &:hover {
                        transform: scale(1.3);
                    }

                    &.delete {
                        color: $primary-red;
                    }
                }

            }

            .enabled {
                color: $primary-green;
            }

            .disabled {
                color: $primary-red;
            }
        }
    }
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .card-panel {
        padding: 1.5rem 3rem 0.5rem 3rem;
    }

    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;

        #logo {
            width: 250px;
        }
    }

    #login-btn {
        margin-top: 2em;

        .btn {
            width: 100%;
        }
    }

    #password-remember {
        margin-top: 1rem;
        font-size: 0.9rem;
        color: $secondary-dark;
    }
}

.color-preview {
    width: 3rem;
    height: 1.5rem;
}

#player {
    section {
        margin-top: 8rem;
        padding: 1rem 2rem;

        .row {
            margin-bottom: 0;
        }
    }

    #logo-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100px;
        }
    }

    .col {
        height: 150px;
        
        &#logo-container {
            justify-content: center;
        }
    }

    .player-container {
        display: inline;

        .title {
            font-size: 1.5rem;
        }

        #player-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #track-info {
            width: 85%;
        }
    }

    .media-wrapper {
        display: flex;
        flex-direction: column;
        height: 150px;
        align-items: center;
        justify-content: center;
    }

    #volume-controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        #volume-bar {
            width: 80px;
            height: 5px;
            background-color: $primary-red;
            margin: 0 10px;
            position: relative;
        }

        #volume-value {
            display: inline-block;
            height: 5px;
            background: $primary-green;
            position: absolute;
        }
    }

    .play, .pause {
        height: 50px;
        width: 50px;
        background: $primary-red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;

        i {
            font-size: 2rem;
            color: white;
        }
    }

    #download {
        i {
            font-size: 1.2rem;
            margin-left: 0.5rem;
        }
        margin-bottom: 0.7rem;
    }

    #time-container {
        display: flex;
        justify-content: flex-end;
    }

    progress {
        background: $primary-green;
        height: 7px;
        padding: 0px;
        width: 100%;
        border: none;
        
        &::-moz-progress-bar {
            background: $primary-red;
            position: relative;
        
            &:after {
                content: 'H';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 20px;
                height: 20px;
                background: yellow;
            }
        }
    }
}

/* Desktop devices */
@media only screen and (max-width : 1200px) {}

/* Tablet devices */
@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

/* Mobile devices */
@media only screen and (max-width : 600px) {
    section.card {
        margin-top: 3rem;

        .card-header {
            margin-bottom: -25px;

            .card-icon {
                width: 75px;
                height: 75px;
                top: -25px;
    
                i {
                    font-size: 2rem;
                }

            }

            .title {
                margin-top: 15px;
            }
        }
    }
}