@import 'variables';
@import '../node_modules/materialize-css/sass/materialize.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, p, a {
    font-family: 'Poppins', 'sans-serif'
}

.input-field {
    margin: 0.5rem 0 0 0;
}

figure {
    margin: 0;
}

nav {
    .brand-logo {
        overflow: hidden;
        height: 100%;
        padding: 10px;
    
        img {
            height: 45px;
        }
    }

    ul {
        a {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 65px;
            padding: 0 1rem;
            color: $secondary-color;

            .social-icon {
                height: 30px;
            }
        }
    }
}

.success {
    background-color: #4caf50;
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    figure {
        img {
            max-height: 60px;
        }
    }
}

.contacts {
    margin-top: 1rem;
    #maintenance-info {
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            margin-bottom: -2rem;
        }

        h1 {
            margin-top: 0;
        }
    }
    .card-panel {
        padding: 2rem;
    }
}

%headings {
    font-weight: bold;
    text-align: center;
    color: $secondary-color;
}
h1 {
    @extend %headings;
    font-size: 1.3rem;
}
h2 {
    @extend %headings;
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
}

#about {

    #icon {
        height: 70px;
    }

    section {
        display: flex;
        width: 100%;

        div {
            flex: 1;
        }

        .description-container {
            flex-basis: 65%;
            max-width: 65%;

            &.reverse {
                .description {
                    margin: 5% 30% 5% 7.5%;
                }
            }
            
            .title {
                text-transform: uppercase;
                color: $secondary-color;
            }

            .description {
                display: flex;
                justify-content: center;
                align-items: start;
                flex-direction: column;
                margin: 5% 7.5% 5% 30%;

                h2 { 
                    color: $secondary-color;
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin: 1rem 0 0.5rem 0;
                    text-align: left;
                }

                .highlight {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                p {
                    margin: 0;
                }
            }
        }

        .picture {
            flex-basis: 45%;
            max-width: 45%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 5rem 0;
            
            figure {
                margin-left: -5%;
                
                img {
                    height: 250px;
                    box-shadow: 1px 0px 5px #ccc;
                    transition: 0.25s ease-in all;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        box-shadow: 1px 2px 5px #bbb;
                    }
                }
            }

            &.reverse {
                justify-content: flex-end;

                figure {
                    margin-left: 0;
                    margin-right: -5%;
                }
            }
        }
    }
}